.game{
    margin-top: 10%;
    margin:auto;
    text-align: center;
    background-color: rgb(241, 237, 237);
    opacity: 0.9;
    width: 40%;
    height:250px;
    padding:10px;

}



body{
    background-image: url('Questions.png');
    background-repeat: no-repeat;
}